// Variables for my project 
@import "../style.scss";



// CARD STYLE SHEET
.card-container{
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 30rem));
    grid-gap : 2rem;  
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0rem 2rem 2rem $tertiary-color;
    // cursor: pointer;
    transition: transform 250ms ease-in;
    position: relative;
    
    &-icon{
        position: absolute;
        bottom : 13rem;
        right: 1.2rem;

        a{
            color: #000;
        }
    }

    &-image{
        height: 26rem;
        width: 100%;
        object-fit: cover;
    }

    &-title{
        padding: 1rem;
        font-size: $title-3;
    }

    &-description{
      padding: 0 1rem;
      font-size: $text-normal;  
    }

    &-button{
        display: block;
        font-size: $text-normal;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 1rem;
        margin: 1rem 8rem;
        color: $secondary-color;
        border: 0.1rem   solid $secondary-color ;
        background-color: transparent;
        border-radius: 0.3rem;
        transition: 
        background 200ms ease-in,
        color 200ms ease-in;
    }

    &:hover{
        transform: scale(1.03);

    }

    &:hover &-button{
        background-color: $secondary-color;
        color: wheat;
    }
}

